<div class="mx-auto grid h-screen max-w-screen-2xl grid-rows-layout bg-white">
  <!-- header -->
  <header class="flex h-16 items-center justify-between gap-8 sm:h-32">
    <a class="w-1/5 min-w-[160px]" href="#">
      <%= image_tag 'light-logo.jpg', alt: 'logo' %>
    </a>

    <!-- desktop menu -->
    <nav class="hidden flex-auto justify-stretch sm:flex">
      <ul class="-mb-1 inline-flex flex-auto items-end justify-stretch">
        <li class="flex-auto">
          <a class="header-link" href="#news">Новости</a>
        </li>
        <li class="flex-auto">
          <a class="header-link" href="#agenda">Трек дни</a>
        </li>
        <li class="flex-auto">
          <a class="header-link" href="#info">Информация</a>
        </li>
        <li class="flex-auto">
          <a class="header-link" href="#contacts">Контакты</a>
        </li>
      </ul>
    </nav>

    <!-- mobile menu -->
    <button
      id="mobile-menu-button"
      class="mr-4 inline-block text-gray-600 hover:text-custom-red sm:hidden"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"
        />
      </svg>
    </button>

    <div
      id="mobile-menu-overlay"
      class="fixed inset-0 z-10 hidden bg-black/50"
    ></div>

    <div
      id="mobile-menu"
      class="fixed right-4 top-4 z-20 hidden w-56 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
    >
      <div class="py-1">
        <a
          href="#news"
          class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
          >Новости</a
        >
        <a
          href="#agenda"
          class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
          >Трек дни</a
        >
        <a
          href="#info"
          class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
          >Информация</a
        >
        <a
          href="#contacts"
          class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
          >Контакты</a
        >
      </div>
    </div>
  </header>

  <!-- banner -->
  <section class="relative h-[300px] w-full md:h-[400px]">
    <%=
      image_tag 'banner.jpg',
                alt: 'banner',
                class: 'h-[300px] w-full object-cover md:h-[400px]'
    %>
    <div
      class="absolute left-0 top-0 h-full w-full bg-gradient-to-bl from-black/0 to-black/70"
    ></div>
    <div class="absolute bottom-0 left-0 p-8 md:p-16">
      <h2 class="title-main text-gray-100">
        ТРЕК ДНИ 2023:<br />
        ПРОДАЖА ОТКРЫТА!
      </h2>
      <p class="title-secondary mb-4 mt-3 text-gray-300">
        Билеты на летний сезон уже в продаже
      </p>
      <a href="#" class="button-main">Записаться</a>
    </div>
  </section>

  <!-- news -->
  <section id="news" class="section">
    <div class="border-b-2 border-custom-red xl:border-b-4">
      <div class="title-section">
        <h2 class="title-main skew-x-[30deg] text-center text-black">
          НОВОСТИ
        </h2>
      </div>
    </div>
    <div
      class="mt-[30px] flex flex-col gap-4 md:mt-[45px] md:flex-row xl:mt-[60px]"
    >
      <div class="mx-2 mb-2 flex-col md:w-1/2">
        <%= image_tag 'news-0.jpg', alt: 'news' %>
        <h3 class="title-main mt-5 font-bold text-black">20-21 января:</h3>
        <p class="title-secondary lg:text-xl xl:text-2xl">
          Трек дни на зимней трассе
        </p>
      </div>
      <div class="mx-2 mb-2 flex-col md:w-1/2">
        <%= image_tag 'news-1.jpg', alt: 'news' %>
        <h3 class="title-main mt-5 font-bold text-black">15 января:</h3>
        <p class="title-secondary lg:text-xl xl:text-2xl">Трек день отменен</p>
      </div>
    </div>
    <div class="title-secondary mx-2 mt-8 self-start lg:text-xl xl:text-2xl">
      <a
        href="#"
        class="border-b-2 border-custom-red pb-1 hover:text-custom-red"
      >
        Смотреть все новости
        <svg
          class="inline-block w-12 md:w-24"
          viewBox="0 0 118 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M117.707 8.70711C118.098 8.31658 118.098 7.68342 117.707 7.29289L111.343 0.928932C110.953 0.538408 110.319 0.538408 109.929 0.928932C109.538 1.31946 109.538 1.95262 109.929 2.34315L115.586 8L109.929 13.6569C109.538 14.0474 109.538 14.6805 109.929 15.0711C110.319 15.4616 110.953 15.4616 111.343 15.0711L117.707 8.70711ZM0 9H117V7H0V9Z"
            fill="black"
          />
        </svg>
      </a>
    </div>
  </section>

  <!-- agenda -->
  <section id="agenda" class="section">
    <div class="border-b-2 border-custom-red xl:border-b-4">
      <div class="title-section">
        <h2 class="title-main skew-x-[30deg] text-center">Трек дни</h2>
      </div>
    </div>
    <div
      class="-mb-4 mt-[30px] flex flex-col gap-4 md:mt-[45px] md:flex-row xl:mt-[60px]"
    >
      <div
        class="mx-2 mb-2 flex-col border border-gray-300 bg-cover bg-no-repeat px-4 py-4 md:w-1/2 md:px-8"
        style="background-image: url(<%= asset_path 'agenda-0.jpg' %>)"
      >
        <h3
          class="title-secondary mb-4 font-bold text-custom-red md:mb-8 lg:text-xl xl:text-2xl"
        >
          АВТОМОБИЛЬНЫЕ ТРЕК ДНИ
        </h3>
        <p class="title-main mb-4 text-black md:mb-8">
          ЗАЕЗД НА<br />
          АВТОМОБИЛЕ
        </p>
        <a href="#" class="button-main">Записаться</a>
      </div>
      <div
        class="mx-2 mb-2 flex-col border border-gray-300 bg-cover bg-no-repeat px-4 py-4 md:w-1/2 md:px-8"
        style="background-image: url(<%= asset_path 'agenda-1.jpg' %>)"
      >
        <h3
          class="title-secondary mb-4 font-bold text-custom-red md:mb-8 lg:text-xl xl:text-2xl"
        >
          МОТО ТРЕК ДНИ
        </h3>
        <p class="title-main mb-4 text-black md:mb-8">
          ЗАЕЗД НА<br />
          МОТОЦИКЛЕ
        </p>
        <a href="#" class="button-main">Записаться</a>
      </div>
    </div>
  </section>

  <!-- info -->
  <section id="info" class="section">
    <div class="border-b-2 border-custom-red xl:border-b-4">
      <div class="title-section">
        <h2 class="title-main skew-x-[30deg] text-center text-black">
          Информация
        </h2>
      </div>
    </div>
    <div class="flex-col p-2 text-sm md:p-4">
      <div class="mb-4">
        Трек-день – организованное мероприятие, в рамках которого разрешается
        ездить на автомобилях и мотоциклах на специальных гоночных треках или же
        (что бывает гораздо реже) на закрытых или неиспользуемых аэродромах.
      </div>
      <div class="flex flex-col gap-4 md:flex-row md:gap-8">
        <div class="md:w-1/2">
          В настоящее время большинство гоночных треков во всем мире
          предоставляют такую возможность. В рамках трек-дня любое
          сертифицированное автотранспортное средство или автотранспортное
          средство, специально предназначенное для спортивных треков (как
          автомобиль, так и мотоцикл) могут использоваться без скоростных
          ограничений (как на спортивных гонках, хотя «гоняться» на
          тренировочных сессиях запрещено). Для участия в трек-дне обычно
          необходимо водительское удостоверение/лицензия на управление
          соответствующим автотранспортным средством и уплата взноса за участие
          в трек-дне. Сам трек-день может быть организован по-разному, как
          правило, участники разбиваются на две или три группы в зависимости от
          уровня вождения и скорости (к примеру, новички/медленные,
          средние/средняя скорость, продвинутые/быстрые или новички и опытные).
          Каждый раз на треке находится одна группа, т.к. ее участники ездят
          примерно с одинаковой скоростью, и в течение трек-дня проводится
          несколько повторных сессий (т.е. заездов) для каждой группы. Обычно
          участники трек-дня используют собственные автотранспортные средства,
          но все больше организаторов трек-дней предоставляют автотранспорт в
          аренду, а также оказывают такие дополнительные услуги, как
          предоставление инструктора, продажа шин и запчастей.
        </div>
        <div class="md:w-1/2">
          <%= image_tag 'info-0.jpg', alt: 'info', class: 'mb-4 w-full' %>
          Трек-дни часто проводятся под эгидой гоночных школ, в этом случае
          акцент делается на отработке водительских навыков и накопление
          гоночного опыта под руководством опытных гонщиков. Но в любом случае
          главная цель трек дня – удовольствие от скорости в максимально
          безопасных условиях
        </div>
      </div>

      <div class="my-4">
        <h3 class="title-main my-4 text-center text-black md:my-8">
          Что взять с собой на трек
        </h3>
        <div class="flex flex-col gap-4 md:flex-row md:gap-8">
          <!-- 1-column -->
          <div class="flex flex-col gap-4 md:w-1/2 md:gap-8">
            <div class="flex flex-col gap-4 md:flex-row md:gap-8">
              <div class="md:w-1/2">
                <%= image_tag 'info-1.jpg', alt: 'info', class: 'mb-4 w-full' %>
              </div>
              <div class="md:w-1/2">
                Регистрационная информация (документ, удостоверяющий личность с
                фото, подтверждение брони на трек-день, страховка, членский
                билет или лицензия);
              </div>
            </div>
            <div class="flex flex-col gap-4 md:flex-row md:gap-8">
              <div class="md:w-1/2">
                <%= image_tag 'info-2.jpg', alt: 'info', class: 'mb-4 w-full' %>
              </div>
              <div class="md:w-1/2">
                Вам почти наверняка понадобятся инструменты. Не надейтесь, что
                вы сможете их у кого-нибудь попросить, если понадобиться. Если
                вы планируете улучшить свои гоночные результаты, вам обязательно
                придется перенастраивать свой мотоцикл, поэтому возьмите с собой
                все оборудование, которое вам может понадобиться, включая
                инструкцию по эксплуатации мотоцикла.
              </div>
            </div>
          </div>
          <!-- /1-column -->
          <!-- 2-column -->
          <div class="flex flex-col gap-4 md:w-1/2 md:gap-8">
            <div class="flex flex-col gap-4 md:flex-row md:gap-8">
              <div class="md:w-1/2">
                <%= image_tag 'info-3.jpg', alt: 'info', class: 'mb-4 w-full' %>
              </div>
              <div class="md:w-1/2">
                <ul class="list-disc">
                  <li>
                    Еда и много (безалкогольных) напитков. Гонщику необходимо
                    пить достаточно жидкости в течение дня, чтобы не допустить
                    обезвоживания;
                  </li>
                  <li>Подставки под мотоцикл;</li>
                  <li>ДРУГА, желательно с видео или фото камерой;</li>
                  <li>Комплект покрышек на плохую погоду;</li>
                </ul>
              </div>
            </div>
            <div class="flex flex-col gap-4 md:flex-row md:gap-8">
              <div class="md:w-1/2">
                <%= image_tag 'info-4.jpg', alt: 'info', class: 'mb-4 w-full' %>
              </div>
              <div class="md:w-1/2">Гоночный пластик.</div>
            </div>
          </div>
          <!-- /2-column -->
        </div>
      </div>

      <div class="my-4">
        <h3 class="title-main my-4 text-center text-black md:my-8">
          Необходимая экипировка для участия в трек-днях
        </h3>
        <div class="flex flex-col gap-4 md:flex-row md:gap-8">
          <!-- 1-column -->
          <div class="flex flex-col gap-4 md:w-1/2 md:gap-8">
            <div class="flex flex-col gap-4 md:flex-row md:gap-8">
              <div class="md:w-1/2">
                Целый, неповрежденный шлем, с полной лицевой защитой (фул-фейс).
                Запрещается использовать модулярные шлемы (с поднимающимся
                передом) или открытые шлемы.
              </div>
              <div class="md:w-1/2">
                <%= image_tag 'info-5.jpg', alt: 'info', class: 'mb-4 w-full' %>
              </div>
            </div>
          </div>
          <!-- /1-column -->
          <!-- 2-column -->
          <div class="flex flex-col gap-4 md:w-1/2 md:gap-8">
            <div class="flex flex-col gap-4 md:flex-row md:gap-8">
              <div class="md:w-1/2">
                Мотоциклетные высокие сапоги<br />
                Кожаные мотоциклетные перчатки<br />
                Защита спины (настоятельно рекомендуется)
              </div>
              <div class="md:w-1/2">
                <%= image_tag 'info-6.jpg', alt: 'info', class: 'mb-4 w-full' %>
              </div>
            </div>
          </div>
          <!-- /2-column -->
        </div>
      </div>
    </div>
  </section>

  <!-- contacts -->
  <section id="contacts" class="section">
    <div class="border-b-2 border-custom-red xl:border-b-4">
      <div class="title-section">
        <h2 class="title-main skew-x-[30deg] text-center text-black">
          Контакты
        </h2>
      </div>
    </div>

    <div class="flex flex-col gap-4 p-2 text-sm md:flex-row md:gap-8 md:p-4">
      <div class="md:w-1/2">
        <h3 class="title-main my-4 text-black md:my-8">Адрес</h3>
        <p class="mb-4">
          143650, Московская область, Волоколамский административный округ, дер.
          Шелудьково, 39.
        </p>
        <p class="mb-4">
          Автодром расположен в 90 минутах от центра Москвы. Недалеко от
          городского поселения Сычёво и сельского поселения Чисмена.
        </p>
        <p class="mb-4">
          Телефон:
          <a
            href="tel:+7(495) 775-38-31"
            class="underline hover:text-custom-red"
            >+7 (495) 775-38-31</a
          >
        </p>
        <p class="mb-4">
          E-mail:
          <a
            href="mailto:some@gmail.com"
            class="underline hover:text-custom-red"
          >
            some@gmail.com
          </a>
        </p>
        <h3 class="title-main my-4 text-black md:my-8">
          Как добраться из Москвы:
        </h3>
        <div class="flex flex-col gap-4 md:flex-row md:gap-8">
          <div class="w-1/2">
            <p class="title-secondary mb-4">Общественным транспортом</p>
            <p class="mb-4">~ в пути 2 часа 10 минут</p>
            <p class="mb-4">
              Ближайшая к автодрому станция общественного транспорта, станция
              «Чисмена» волоколамского направления.
            </p>
          </div>
          <div class="w-1/2">
            <p class="title-secondary mb-4">На автомобиле</p>
            <p class="mb-4">~ в пути 1 час 40 минут</p>
            <p class="mb-4">
              Двигаясь по Новорижскому (М9) или Волоколамскому шоссе в сторону
              области, на 95-м километре свернуть под указатель «На автодром».
            </p>
          </div>
        </div>
      </div>
      <div class="border md:w-1/2">
        <script
          type="text/javascript"
          charset="utf-8"
          src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A053bd947d462cc1a45aeba4070defff75501905071c0eaf68436ac9976ec698c&amp;width=100%&amp;height=100%&amp;lang=ru_RU&amp;apikey=<API-ключ>"
        ></script>
      </div>
    </div>

    <h3 class="title-main my-4 text-center text-black md:my-8">
      Наши партнеры
    </h3>
    <div
      class="flex flex-col items-center justify-center gap-4 md:flex-row md:gap-8"
    >
      <!-- 1-column -->
      <div class="flex w-1/2 max-w-[360px] flex-col gap-4 md:gap-8">
        <div class="flex gap-4 md:gap-8">
          <div class="md:w-1/2">
            <%= image_tag 'partners-0.jpg', alt: 'info', class: 'mb-4 w-full' %>
          </div>
          <div class="md:w-1/2">
            <%= image_tag 'partners-1.jpg', alt: 'info', class: 'mb-4 w-full' %>
          </div>
        </div>
      </div>
      <!-- /1-column -->
      <!-- 2-column -->
      <div class="flex w-1/2 max-w-[360px] flex-col gap-4 md:gap-8">
        <div class="flex gap-4 md:gap-8">
          <div class="md:w-1/2">
            <%= image_tag 'partners-0.jpg', alt: 'info', class: 'mb-4 w-full' %>
          </div>
          <div class="md:w-1/2">
            <%= image_tag 'partners-1.jpg', alt: 'info', class: 'mb-4 w-full' %>
          </div>
        </div>
      </div>
      <!-- /2-column -->
    </div>
  </section>

  <!-- footer -->
  <footer class="section bg-black text-white">
    <div
      class="flex h-[100px] flex-none items-center justify-center gap-8 md:h-[128px]"
    >
      <a href="#" class="footer-button">
        <svg
          width="48"
          height="48"
          viewBox="0 0 48 48"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M24 13.7778C21.9782 13.7778 20.0019 14.3773 18.3208 15.5005C16.6398 16.6238 15.3296 18.2203 14.5559 20.0881C13.7822 21.956 13.5798 24.0113 13.9742 25.9943C14.3686 27.9772 15.3422 29.7986 16.7718 31.2282C18.2014 32.6578 20.0228 33.6314 22.0057 34.0258C23.9887 34.4202 26.044 34.2178 27.9119 33.4441C29.7797 32.6704 31.3762 31.3602 32.4995 29.6792C33.6227 27.9981 34.2222 26.0218 34.2222 24C34.2222 21.2889 33.1452 18.6888 31.2282 16.7718C29.3112 14.8548 26.7111 13.7778 24 13.7778ZM24 28.8889C23.0331 28.8889 22.0879 28.6022 21.2839 28.065C20.4799 27.5278 19.8533 26.7642 19.4833 25.8709C19.1132 24.9776 19.0164 23.9946 19.205 23.0462C19.3937 22.0979 19.8593 21.2268 20.543 20.543C21.2268 19.8593 22.0979 19.3937 23.0462 19.205C23.9946 19.0164 24.9776 19.1132 25.8709 19.4833C26.7642 19.8533 27.5278 20.4799 28.065 21.2839C28.6022 22.0879 28.8889 23.0331 28.8889 24C28.883 25.2948 28.3661 26.5349 27.4505 27.4505C26.5349 28.3661 25.2948 28.883 24 28.8889ZM34.6667 0H13.3333C9.79711 0 6.40573 1.40476 3.90524 3.90524C1.40476 6.40573 0 9.79711 0 13.3333V34.6667C0 38.2029 1.40476 41.5943 3.90524 44.0948C6.40573 46.5952 9.79711 48 13.3333 48H34.6667C38.2029 48 41.5943 46.5952 44.0948 44.0948C46.5952 41.5943 48 38.2029 48 34.6667V13.3333C48 9.79711 46.5952 6.40573 44.0948 3.90524C41.5943 1.40476 38.2029 0 34.6667 0ZM42.6667 34.6667C42.6667 36.7884 41.8238 38.8232 40.3235 40.3235C38.8232 41.8238 36.7884 42.6667 34.6667 42.6667H13.3333C11.2116 42.6667 9.17677 41.8238 7.67648 40.3235C6.17619 38.8232 5.33333 36.7884 5.33333 34.6667V13.3333C5.33333 11.2116 6.17619 9.17677 7.67648 7.67648C9.17677 6.17619 11.2116 5.33333 13.3333 5.33333H34.6667C36.7884 5.33333 38.8232 6.17619 40.3235 7.67648C41.8238 9.17677 42.6667 11.2116 42.6667 13.3333V34.6667ZM39.1111 12.4444C39.1111 13.1477 38.9026 13.8351 38.5119 14.4198C38.1212 15.0045 37.5659 15.4602 36.9162 15.7293C36.2665 15.9985 35.5516 16.0689 34.8619 15.9317C34.1722 15.7945 33.5387 15.4559 33.0414 14.9586C32.5441 14.4613 32.2055 13.8278 32.0683 13.1381C31.9311 12.4484 32.0015 11.7335 32.2706 11.0838C32.5398 10.4341 32.9955 9.8788 33.5802 9.48811C34.1649 9.09742 34.8523 8.88889 35.5556 8.88889C36.4986 8.88889 37.4029 9.26349 38.0697 9.93029C38.7365 10.5971 39.1111 11.5015 39.1111 12.4444Z"
            fill="#F8F8F8"
          />
        </svg>
      </a>
      <a href="#" class="footer-button">
        <svg
          width="30"
          height="47"
          viewBox="0 0 30 47"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M2 18.7222V28.2778H9.09091V45H18.5455V28.2778H25.6364L28 18.7222H18.5455V13.9444C18.5455 13.3109 18.7945 12.7032 19.2377 12.2552C19.681 11.8072 20.2822 11.5556 20.9091 11.5556H28V2H20.9091C17.7747 2 14.7687 3.25843 12.5524 5.49845C10.336 7.73846 9.09091 10.7766 9.09091 13.9444V18.7222H2Z"
            stroke="#F8F8F8"
            stroke-width="4"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </a>
      <a href="#" class="footer-button">
        <svg
          width="61"
          height="44"
          viewBox="0 0 61 44"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M55.9291 5.45714L55.4413 7.39675L55.4418 7.39687L55.9291 5.45714ZM5.07088 5.45714L4.58308 3.51754L4.58217 3.51777L5.07088 5.45714ZM5.07088 38.5429L5.55867 36.6033L5.55816 36.6031L5.07088 38.5429ZM55.9291 38.5429L56.4169 40.4825L56.4178 40.4822L55.9291 38.5429ZM28.4665 30.4271L29.6145 32.0649L29.6154 32.0642L28.4665 30.4271ZM26.225 29.2557L28.225 29.2566V29.2557H26.225ZM26.225 14.7443H28.225V14.7434L26.225 14.7443ZM28.4665 13.5729L29.6154 11.9358L29.6145 11.9351L28.4665 13.5729ZM38.8077 20.83L39.9573 19.1934L39.9566 19.1929L38.8077 20.83ZM38.8077 23.17L39.9566 24.8071L39.9573 24.8067L38.8077 23.17ZM61 34.5257V9.47429H57V34.5257H61ZM61 9.47429C61 6.70983 59.18 4.21165 56.4164 3.51741L55.4418 7.39687C56.3405 7.62263 57 8.45303 57 9.47429H61ZM56.4169 3.51754C51.4063 2.25741 40.9827 0 30.5 0V4C40.4945 4 50.5454 6.16545 55.4413 7.39675L56.4169 3.51754ZM30.5 0C20.0187 0 9.59374 2.2574 4.58308 3.51754L5.55867 7.39675C10.4546 6.16546 20.5069 4 30.5 4V0ZM4.58217 3.51777C1.8209 4.21359 0 6.70869 0 9.47429H4C4 8.45417 4.6586 7.62355 5.55958 7.39652L4.58217 3.51777ZM0 9.47429V34.5257H4V9.47429H0ZM0 34.5257C0 37.2902 1.82003 39.7884 4.58359 40.4826L5.55816 36.6031C4.65947 36.3774 4 35.547 4 34.5257H0ZM4.58308 40.4825C9.59372 41.7426 20.0173 44 30.5 44V40C20.5055 40 10.4546 37.8346 5.55867 36.6033L4.58308 40.4825ZM30.5 44C40.9813 44 51.4063 41.7426 56.4169 40.4825L55.4413 36.6033C50.5454 37.8345 40.4931 40 30.5 40V44ZM56.4178 40.4822C59.1791 39.7864 61 37.2913 61 34.5257H57C57 35.5458 56.3414 36.3764 55.4404 36.6035L56.4178 40.4822ZM27.3186 28.7894C27.4049 28.7289 27.5065 28.693 27.6124 28.6861L27.8721 32.6777C28.4983 32.637 29.1009 32.4248 29.6145 32.0649L27.3186 28.7894ZM27.6124 28.6861C27.7184 28.6792 27.824 28.7017 27.9176 28.7506L26.0649 32.2957C26.6209 32.5862 27.246 32.7184 27.8721 32.6777L27.6124 28.6861ZM27.9176 28.7506C28.0112 28.7995 28.0889 28.8728 28.1429 28.9621L24.7199 31.0316C25.044 31.5678 25.5091 32.0052 26.0649 32.2957L27.9176 28.7506ZM28.1429 28.9621C28.1968 29.0512 28.225 29.1531 28.225 29.2566L24.225 29.2548C24.2247 29.881 24.3957 30.4955 24.7199 31.0316L28.1429 28.9621ZM28.225 29.2557V14.7443H24.225V29.2557H28.225ZM28.225 14.7434C28.225 14.8469 28.1968 14.9488 28.1429 15.0379L24.7199 12.9684C24.3957 13.5045 24.2247 14.119 24.225 14.7452L28.225 14.7434ZM28.1429 15.0379C28.0889 15.1272 28.0112 15.2005 27.9176 15.2494L26.0649 11.7043C25.5091 11.9948 25.044 12.4322 24.7199 12.9684L28.1429 15.0379ZM27.9176 15.2494C27.824 15.2983 27.7184 15.3208 27.6124 15.3139L27.8721 11.3223C27.246 11.2816 26.6209 11.4138 26.0649 11.7043L27.9176 15.2494ZM27.6124 15.3139C27.5065 15.307 27.4049 15.2711 27.3186 15.2106L29.6145 11.9351C29.1009 11.5752 28.4983 11.363 27.8721 11.3223L27.6124 15.3139ZM27.3177 15.21L37.6589 22.4671L39.9566 19.1929L29.6154 11.9358L27.3177 15.21ZM37.6582 22.4666C37.5825 22.4135 37.5212 22.3432 37.4791 22.262L41.0293 20.4191C40.7757 19.9306 40.4081 19.51 39.9573 19.1934L37.6582 22.4666ZM37.4791 22.262C37.437 22.1808 37.4151 22.091 37.4151 22H41.4151C41.4151 21.4498 41.2828 20.9076 41.0293 20.4191L37.4791 22.262ZM37.4151 22C37.4151 21.909 37.437 21.8192 37.4791 21.738L41.0293 23.5809C41.2828 23.0924 41.4151 22.5502 41.4151 22H37.4151ZM37.4791 21.738C37.5212 21.6568 37.5825 21.5865 37.6582 21.5334L39.9573 24.8067C40.4081 24.49 40.7757 24.0694 41.0293 23.5809L37.4791 21.738ZM37.6589 21.5329L27.3177 28.79L29.6154 32.0642L39.9566 24.8071L37.6589 21.5329Z"
            fill="#F8F8F8"
          />
        </svg>
      </a>
      <a href="#" class="footer-button">
        <svg
          width="45"
          height="41"
          viewBox="0 0 45 41"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M43.498 0.966272C42.9156 0.483004 42.2127 0.166306 41.4642 0.0498893C40.7157 -0.0665273 39.9495 0.021695 39.2473 0.305165L2.5885 15.0679C1.80475 15.3896 1.1376 15.9415 0.67557 16.6503C0.213541 17.359 -0.0215279 18.1912 0.00155016 19.0363C0.0246282 19.8814 0.304763 20.6995 0.804787 21.3821C1.30481 22.0647 2.00109 22.5796 2.80124 22.8583L10.2165 25.4313L14.3485 39.0657C14.4052 39.2476 14.4871 39.4206 14.5919 39.5798C14.6083 39.6043 14.6308 39.6207 14.6472 39.6472C14.7677 39.8146 14.9133 39.9625 15.0788 40.0859C15.125 40.122 15.1728 40.156 15.222 40.1879C15.4157 40.3162 15.6303 40.4101 15.8561 40.4654L15.8827 40.4674L15.895 40.4736C16.0317 40.5009 16.1708 40.5146 16.3102 40.5144L16.347 40.5083C16.5565 40.5048 16.7642 40.469 16.9628 40.4021C17.0098 40.3858 17.0487 40.3613 17.0937 40.3409C17.2422 40.2802 17.3829 40.2021 17.513 40.1083C17.6166 40.0205 17.7203 39.9328 17.824 39.8451L23.3511 33.7584L31.5948 40.1287C32.3204 40.6925 33.2136 40.999 34.1333 41C35.0973 40.9989 36.0315 40.6672 36.7794 40.0605C37.5273 39.4538 38.0433 38.6091 38.2408 37.6679L44.9156 4.98597C45.0665 4.2507 45.0144 3.48834 44.7647 2.78034C44.515 2.07235 44.0772 1.44532 43.498 0.966272ZM17.1203 26.0802C16.837 26.3622 16.6434 26.7214 16.5639 27.1127L15.9297 30.1815L14.326 24.8906L22.6413 20.571L17.1203 26.0802ZM34.1026 36.9028L24.3596 29.3735C23.9519 29.0597 23.4407 28.9106 22.9277 28.956C22.4148 29.0014 21.9378 29.2379 21.5919 29.6183L19.8204 31.567L20.4464 28.5328L34.9352 14.0803C35.279 13.7353 35.4879 13.2791 35.5242 12.794C35.5606 12.3089 35.422 11.8268 35.1335 11.4347C34.845 11.0425 34.4255 10.7661 33.9507 10.6551C33.4759 10.5442 32.977 10.6062 32.5439 10.8298L11.7506 21.6279L4.13087 18.8468L40.9083 4.17387L34.1026 36.9028Z"
            fill="#F8F8F8"
          />
        </svg>
      </a>
    </div>
    <p
      class="mb-[30px] flex-none text-center text-[12px] font-semibold sm:text-base md:mb-[50px] md:text-[16px]"
    >
      2023 © Trackdays. Все права защищены.
    </p>
  </footer>
</div>

<%= javascript_include_tag 'dom' %>
<%= javascript_include_tag 'main' %>
